body {
    background: linear-gradient(45deg, #77fdff, #8f87fe); /* Reverse the gradient */
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 14px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    gap: 20px;
}


h1 {
    text-align: center;
    font-size: 40px;
}

#results {
    width: 100%; /* Make results container take up full width */
    display: grid; /* Use grid inside #results to display items in rows and columns */
    grid-template-columns: repeat(5, 1fr); /* Set 5 columns per row */
    gap: 10px; /* Space between each anime result */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

#results div {
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: center;
    border-radius: 10px;
    height: 100%; /* Ensures the content fills the available space */
}

#results img {
    width: 150%; /* Make image fill available width */
    max-width: 150px; /* Limit image size */
    margin-bottom: 10px;
    border-radius: 15px;
}

#categorySelect, #animeSearch, #categorySearch {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
}

.item-4 {
    justify-self: start; /* Align to the left */
    margin-bottom: 40px;
    margin-left: 40px;
}

.item-4 .btn {
    display: inline-block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 8px;  /* Make corners more rounded */
    padding: 15px 30px;  /* Increase padding for a larger button */
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.item-4 .btn:hover {
    background: linear-gradient(45deg, #ff77cd, #87adfe); /* Reverse the gradient */
    box-shadow: 3px 12px 25px rgba(94, 28, 68, 0.25); /* Increase shadow on hover */
    transform: translateY(-3px); /* Slight lift effect */
}

#submit {
    display: inline-block;
    border:none;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 8px;  /* Make corners more rounded */
    padding: 7px 15px;  /* Increase padding for a larger button */
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

#submit:hover{
    background: linear-gradient(45deg, #ff77cd, #87adfe); /* Reverse the gradient */
    box-shadow: 3px 12px 25px rgba(94, 28, 68, 0.25); /* Increase shadow on hover */
    transform: translateY(-3px);
}