body { 
    font-family: Helvetica; 
    margin: 0;
    padding: 0;
}

/* ------ Layout ------ */ 
.container { 
    display: flex; 
    justify-content: center; 
    height: 100vh; 
    flex-direction: column;
}

.header {
    height: 20vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.footer { 
    height: 20vh;
}

.middle { 
    width: 100vw; 
    height: 60vh; 
    display: flex; 
    justify-content: center;
    align-items: start;
    padding-top: 20px;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 20px;
}

.question {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
}

input[type=submit] {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
}

input[type=submit]:hover {
    background-color: #45a049;
}